.Navbar {
	position: fixed;
	top: 0;
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	height: 3vw;
	border-bottom: 1px solid gray;
	font-size: 1vw;
	padding: 0.2%;
	z-index: 10;
	background-color: white;
	color: darkslategray;
	@media only screen and (max-width: 1600px) {
		font-size: 2vw;
		height: 5vw;
		padding: 1%;
	}
	@media only screen and (max-width: 800px) {
		font-size: 3vw;
		height: 6vw;
		padding: 3%;
	}
	@media only screen and (max-width: 600px) {
		font-size: 5vw;
		height: 9vw;
		padding: 5%;
	}
	&_Link {
		text-decoration: none;
	}
	&_Logo {
		background-color: #0051ba;
		width: 90px;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		&__Inner {
			font-family: Impact;
			font-size: 22px;
			background-color: #ffda1a;
			height: 95%;
			width: 95%;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50% / 50%;
			color: #0051ba;
		}
	}
	&_Cart {
		justify-self: right;
		margin-right: 10px;
		&:hover {
			cursor: pointer;
		}
	}
}
